<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Карточка
   */
  @Component<UiCard>({})
  export default class UiCard extends Vue {
    /**
     * Отключение внутреннего отступа
     */
    @Prop({ type: Boolean, default: false })
    noPadding!: boolean;
  }
</script>

<template>
  <section
    :class="{
      'ui-card': true,
      'ui-card--no-padding': noPadding,
    }"
  >
    <header v-if="$slots['title']" class="ui-card__title">
      <!-- slot:title -->
      <slot name="title"></slot>
      <!-- /slot:title -->
    </header>
    <div v-if="$slots['default']" class="ui-card__content">
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </div>
  </section>
</template>

<style lang="scss" scoped>
  .ui-card {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    color: var(--color-text);

    &--no-padding {
      & .ui-card__content {
        padding: 0;
      }
    }
  }

  .ui-card__title {
    padding: 1rem 2rem;
    border-bottom: solid 1px var(--color-light);
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 2.33;

    @media ($mobile-l) {
      padding: 1rem;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .ui-card__content {
    padding: 1rem 2rem;

    @media ($mobile-l) {
      padding: 1rem;
    }
  }
</style>
