<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Список данных
   */
  @Component
  export default class UiDataList extends Vue {}
</script>

<template>
  <ul class="ui-data-list" v-on="$listeners">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </ul>
</template>

<style lang="scss" scoped>
  .ui-data-list {
    position: relative;
    padding: 0;
    font-size: initial;
    list-style: none;
  }
</style>
