<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Инпут
   */
  @Component<UiInput>({
    inheritAttrs: false,
  })
  export default class UiInput extends Vue {
    /**
     * Значение
     */
    @Prop({ type: String, default: '' })
    value!: string;

    /**
     * Показать прароль?
     */
    isShowPassword = false;

    /**
     * Деффолтный тип инпута
     */
    defaultType = 'text';
  }
</script>

<template>
  <div v-show="!['', true].includes($attrs.hidden)" class="ui-input">
    <label v-if="$slots['label']" class="ui-input__label" :for="$attrs.name">
      <!-- slot:label -->
      <slot name="label"></slot>
      <!-- /slot:label -->
    </label>
    <div class="ui-input__field-wrap">
      <input
        :value="value"
        :class="{
          'ui-input__field': true,
          [`ui-input__field--type--${$attrs.type || defaultType}`]: true,
        }"
        v-bind="$attrs"
        :type="isShowPassword ? defaultType : $attrs.type"
        :autocomplete="
          $attrs.type === 'password' ? 'current-password' : $attrs.autocomplete
        "
        @input="$emit('input', $event.target.value)"
      />
      <button
        v-if="$attrs.type === 'password'"
        type="button"
        class="ui-input__password-show"
        tabindex="-1"
        @click="isShowPassword = !isShowPassword"
      >
        <ui-icon
          color="secondary"
          size="1.5rem"
          :name="isShowPassword ? 'eye-disabled' : 'eye-active'"
        ></ui-icon>
      </button>
    </div>
    <v-expand-transition>
      <div v-if="$slots['rules']" class="ui-input__rules">
        <div class="ui-input__rules-wrap">
          <!-- slot:rules -->
          <slot name="rules"></slot>
          <!-- /slot:rules -->
        </div>
      </div>
    </v-expand-transition>
  </div>
</template>

<style lang="scss" scoped>
  .ui-input {
    position: relative;
    --height: 56px;
    --padding-x: 17px;
    --border-width: 1px;
  }

  .ui-input__label {
    display: block;
    min-height: 2rem;
    margin-bottom: 0;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 2.29;
  }

  .ui-input__field-wrap {
    position: relative;
  }

  .ui-input__field {
    position: relative;
    display: block;
    width: auto;
    width: 100%;
    padding: 0 var(--padding-x);
    border: solid var(--border-width) #d8d8d8;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px transparent;
    color: #4a4a4a;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: calc(var(--height) - var(--border-width) * 2);
    transition-duration: 0.3s;

    &:focus {
      border-color: var(--color-outline);
      box-shadow: inset 0 0 0 1px var(--color-outline);
      outline: none;
    }

    &[data-invalid] {
      border-color: var(--color-danger);
      &:focus {
        box-shadow: inset 0 0 0 1px var(--color-danger);
      }
    }

    &--type {
      &--password {
        padding-right: var(--height);
      }
    }

    &::placeholder {
      color: var(--color-placeholder);
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
    }
  }

  .ui-input__password-show {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: var(--height);
    height: var(--height);
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .ui-input__rules {
    position: relative;
  }

  .ui-input__rules-wrap {
    margin-top: 0.5rem;
  }
</style>
