<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Анимация перехода по страницам
   */
  @Component
  export default class UiPageTransition extends Vue {}
</script>

<template>
  <transition v-bind="$attrs" name="ui-page-transition-" mode="out-in">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </transition>
</template>

<style lang="scss" scoped>
  .ui-page-transition {
    &--enter {
      opacity: 0;
      transform: translateY(4px);
    }

    &--enter-active {
      transition-duration: 0.16s;
    }

    &--enter-to {
      opacity: 1;
    }

    &--leave {
      opacity: 1;
    }

    &--leave-active {
      transition-duration: 0.16s;
    }

    &--leave-to {
      opacity: 0;
      transform: translateY(-4px);
    }
  }
</style>
