<script lang="ts">
  import { nanoid } from 'nanoid';
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

  /**
   * Переключатель
   */
  @Component<UiSwitcher>({
    inheritAttrs: false,
  })
  export default class UiSwitcher extends Vue {
    /**
     * Значение
     */
    @Prop({ type: Boolean, default: false })
    value!: boolean;

    uid = nanoid();

    /**
     * Синхронизирует сво-во 'checked' с состоянием
     *
     * @param value
     */

    updateCheckedState(value) {
      (this.$el as HTMLElement).querySelector('input').checked = Boolean(value);
    }

    mounted() {
      this.updateCheckedState(this.value);
    }

    @Watch('value')
    onValueChanged() {
      this.updateCheckedState(this.value);
    }
  }
</script>

<template>
  <div class="ui-switcher">
    <div
      class="ui-switcher__wrapper"
      tabindex="0"
      :class="{
        'ui-switcher__wrapper': true,
        'ui-switcher__wrapper--state--active': value,
        'ui-switcher__wrapper--state--disabled': !value,
      }"
      @keyup.enter="$emit('input', !$event.target.checked)"
    >
      <div
        :class="{
          'ui-switcher__tumbler': true,
          'ui-switcher__tumbler--state--active': value,
          'ui-switcher__tumbler--state--disabled': !value,
        }"
      ></div>
      <input
        :id="$attrs.id || uid"
        :value="value"
        class="ui-switcher__field"
        type="checkbox"
        v-bind="$attrs"
        @input="$emit('input', $event.target.checked)"
      />
    </div>
    <label
      v-if="$slots['default']"
      class="ui-switcher__label"
      :for="$attrs.id || uid"
    >
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </label>
  </div>
</template>

<style lang="scss" scoped>
  .ui-switcher {
    --width: 40px;
    --height: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .ui-switcher__wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: var(--width);
    height: var(--height);
    border: 2px solid transparent;
    background-color: var(--color-secondary);
    border-radius: calc(var(--height) / 2);
    transition-duration: 0.3s;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      color: #fff;
      font-size: 8px;
      font-weight: bold;
      transform: translateY(-50%) translateX(0);
      transition-duration: inherit;
    }

    &::before {
      left: 6px;
      content: 'ON';
    }

    &::after {
      right: 4px;
      content: 'OFF';
    }

    &--state {
      &--active {
        background-color: var(--color-success);
        &::after {
          opacity: 0;
          transform: translateY(-50%) translateX(100%);
        }
      }

      &--disabled {
        background-color: var(--color-danger);
        &::before {
          opacity: 0;
          transform: translateY(-50%) translateX(-100%);
        }
      }
    }
  }

  .ui-switcher__tumbler {
    --size: calc(var(--height) - 4px);
    position: relative;
    width: var(--size);
    height: var(--size);
    background-color: white;
    border-radius: 50%;
    transition-duration: 0.3s;

    &--state {
      &--active {
        transform: translateX(200%);
      }

      &--disabled {
        transform: translateX(0);
      }
    }
  }

  .ui-switcher__field {
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: var(--width);
    height: var(--height);
    appearance: initial;
    border-radius: calc(var(--height) / 2);
    cursor: pointer;
    opacity: 0;
  }

  .ui-switcher__label {
    margin-bottom: 0;
    margin-left: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    user-select: none;
  }
</style>
