@media (min-width: 1300px) {
  .inner-page .m-navi.navbar {
    width: 100%;
  }
  .inner-page .header-center .h-info {
    min-width: 333px;
  }
}
@media (max-width: 1200px) {
  .catalog--item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .catalog--item-title {
    font-size: 22px;
  }
}
@media (max-width: 1100px) {
  .inner-page .m-navi.navbar .nav-link,
  .m-navi.navbar .nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-center .logo-col {
    display: none;
  }
  .header-center .h-info {
    display: block;
    margin-left: auto;
  }
  .header-center .h-info-col {
    margin: 0 0 10px;
  }
  .b-box {
    padding-right: 120px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .search-vin {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .c-box-link:hover .c-box-link--col::before {
    left: 100%;
  }
  .c-box-link:hover .c-box-link--col::after {
    left: 110%;
    margin-left: -1px;
  }
  .c-box-link:hover .c-box-link--pic img {
    transform: scale(0.8);
  }
  .catalog--item:hover .catalog--item-image img {
    transform: scale(0.8);
  }
  .product-item:hover .product-item--art {
    color: #27292d;
  }
  .product-item:hover .product-item--pic img {
    transform: scale(0.8);
  }
  .product-item:hover .product-item--title a {
    color: #0e80e3;
    text-decoration: underline;
  }
  .product-item:hover .product-item--title a:hover {
    text-decoration: none;
  }
  .product-item:hover .product-item--more {
    border-color: #0e80e3;
  }
  .news-item:hover .news-item--pic img {
    transform: translate(-50%, -50%) scale(1.3);
  }
  .news-item:hover .news-item--title a {
    color: #0e80e3;
  }
  .news-item:hover .news-item--time {
    color: #27292d;
  }
  .news-item:hover .news-item--time .fas {
    color: #f81249;
  }
}
@media (max-width: 992px) {
  .inner-page .header {
    position: relative;
  }
  .header-top {
    display: none;
  }
  .header-center .h-info {
    display: none;
  }
  .header .logo {
    margin-right: auto;
  }
  .m-navi.navbar {
    display: none;
  }
  .b-mob-nav {
    margin-right: 20px;
  }
  .b-mobv-nav-active .b-mobv-nav {
    z-index: 1002;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .b-mobv-nav-active .b-popup-mob-nav-splash {
    position: fixed !important;
    z-index: 1002 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
  }
  .b-mobv-nav-active {
    overflow: hidden;
  }
  .b-mob-nav {
    display: block;
  }
  .main-slider--item-title {
    font-size: 30px;
  }
  .main-slider--item-descr {
    font-size: 20px;
  }
  .about-cube {
    display: none;
  }
  .about-row {
    display: block;
  }
  .catalog-dropdown {
    flex-wrap: wrap;
  }
  .catalog-dropdown--col {
    max-width: 33%;
    flex: 0 0 33%;
  }
  .catalog-navi-btn {
    padding-right: 20px;
  }
  .catalog-navi-btn .fas {
    right: 15px;
  }
}
@media (max-width: 767px) {
  .main .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header .logo {
    width: 100px;
  }
  .header .logo-col {
    display: none;
  }
  .header-center {
    padding-top: 10px;
  }
  .h-list {
    padding: 15px 0;
  }
  .h-list::before {
    display: none;
  }
  .h-list-item {
    padding: 0 10px;
  }
  .h-list-item::before {
    display: none;
  }
  .h-basket-link {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
  }
  .h-basket-summ {
    display: none;
  }
  .catalog-navi-btn {
    height: 40px;
    padding: 0 20px 0 50px;
    font-size: 12px;
  }
  .catalog-navi-btn .fas {
    right: 10px;
    line-height: 40px;
  }
  .catalog-navi-btn-burger {
    width: 40px;
    height: 40px;
  }
  .catalog-navi-btn-burger::before {
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 10px solid #cc0e3b;
  }
  .catalog-navi .dropdown-menu {
    width: 290px;
    transform: translate3d(0, 40px, 0) !important;
  }
  .catalog-navi .catalog-navi-drop.dropdown-menu {
    position: relative;
    left: 0 !important;
    width: 290px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    float: none;
    transform: translate3d(0, 0, 0) !important;
  }
  .catalog-navi .catalog-navi-drop.dropdown-menu .scroll-pane {
    height: 220px;
  }
  .catalog-navi-drop {
    position: relative;
    left: 0;
    height: 220px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .catalog-navi-link {
    padding-left: 15px;
  }
  .catalog-navi-item:first-child {
    border-top: none;
  }
  .catalog-navi-item:first-child .catalog-navi-link {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
  .catalog-navi-item:last-child .catalog-navi-link {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
  }
  .b-ths-search .b-input-search {
    height: 40px;
    padding: 5px 15px;
  }
  .b-ths-search .search-history-icon {
    height: 40px;
  }
  .b-btn-search {
    width: 40px;
    height: 40px;
  }
  .title-block-name {
    font-size: 30px;
  }
  .main-slider .m-slider-buttons .m-prev {
    left: 15px;
  }
  .main-slider .m-slider-buttons .m-next {
    right: 15px;
  }
  .c-box-link--title {
    margin-bottom: 15px;
  }
  .c-box-link--pic {
    padding: 30px 10px 30px 50px;
  }
  .c-box-link--pic img {
    max-height: 120px;
  }
  .c-box-link--col {
    padding: 15px;
  }
  .search-vin {
    padding: 15px;
  }
  .b-box {
    height: auto;
    padding: 15px;
  }
  .b-box-text {
    margin-bottom: 15px;
  }
  .b1 .b-box-text {
    color: #f3f3f3;
  }
  .b2 .b-box-text {
    color: #27292d;
  }
  .catalog--item {
    padding: 15px;
  }
  .catalog-dropdown {
    padding-bottom: 30px;
  }
  .catalog-dropdown--col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .popular-slider.slick-slider {
    padding-right: 0;
    padding-left: 0;
    margin-right: -10px;
    margin-left: -10px;
  }
  .popular .slick-slider .slick-prev {
    left: 15px;
  }
  .popular .slick-slider .slick-next {
    right: 15px;
  }
  .news-slider.slick-slider {
    padding-right: 0;
    padding-left: 0;
    margin-right: -10px;
    margin-left: -10px;
  }
  #map {
    height: 300px;
  }
  .contacts--content strong {
    font-size: 18px;
  }
  .m-slider .slick-dots li,
  .popular-slider .slick-dots li {
    margin: 0 5px;
  }
  .m-slider .slick-prev,
  .popular-slider .slick-prev {
    left: 15px;
  }
  .m-slider .slick-next,
  .popular-slider .slick-next {
    right: 15px;
  }
  .footer-wrap {
    display: block;
    text-align: center;
  }
  .copyright,
  .developer {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .catalog-navi-btn {
    display: block;
    padding: 0;
    text-indent: -999px;
  }
  .catalog-navi-btn span {
    width: 100%;
    justify-content: center;
  }
  .catalog-navi-btn span::before {
    display: none;
  }
  .catalog-dropdown--col {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .c-box-link {
    height: auto;
  }
  .c-box-link--col {
    display: block;
  }
  .c-box-link--col::after {
    display: none;
  }
  .c-box-link--pic {
    padding: 30px 10px;
  }
  .c-box-link--title {
    margin-bottom: 15px;
  }
}
@media (max-width: 620px) {
  .main-slider .m-slider-buttons .m-next,
  .main-slider .m-slider-buttons .m-prev {
    overflow: hidden;
    width: 30px;
  }
  .main-slider .m-slider-buttons .m-next:after,
  .main-slider .m-slider-buttons .m-next:before,
  .main-slider .m-slider-buttons .m-prev:after,
  .main-slider .m-slider-buttons .m-prev:before {
    background-position: 0 center;
    background-size: 50px auto;
  }
  .main-slider .m-slider-buttons .m-next:after,
  .main-slider .m-slider-buttons .m-next:before {
    background-position: right center;
  }
  .popular .slick-slider .slick-prev,
  .popular .slick-slider .slick-next {
    overflow: hidden;
    width: 30px;
  }
  .popular .slick-slider .slick-prev:after,
  .popular .slick-slider .slick-prev:before,
  .popular .slick-slider .slick-next:after,
  .popular .slick-slider .slick-next:before {
    background-position: 0 center;
    background-size: 50px auto;
  }
  .popular .slick-slider .slick-next:after,
  .popular .slick-slider .slick-next:before {
    background-position: right center;
  }
  .b-gotop {
    bottom: 10px;
  }
  .b-gotop span {
    display: none;
  }
}
@media (max-width: 420px) {
  .main-slider--item-title {
    font-size: 24px;
  }
}
