<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Статья
   */
  @Component
  export default class UiArticle extends Vue {}
</script>

<template>
  <article class="ui-article" v-on="$listeners">
    <header class="ui-article__heading">
      <h1 v-if="$slots['title']" class="ui-article__title">
        <!-- slot:title -->
        <slot name="title"></slot>
        <!-- /slot:title -->
      </h1>
      <p v-if="$slots['subtitle']" class="ui-article__subtitle">
        <!-- slot:subtitle -->
        <slot name="subtitle"></slot>
        <!-- /slot:subtitle -->
      </p>
    </header>
    <ui-typography>
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </ui-typography>
  </article>
</template>

<style lang="scss" scoped>
  .ui-article {
    position: relative;
  }

  .ui-article__heading {
    position: relative;
    display: grid;
    margin-bottom: 47px;
    grid-gap: 8px;
  }

  .ui-article__title {
    color: var(--color-text);
    font-size: 40px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2;
  }

  .ui-article__subtitle {
    color: #989eb7;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
  }

  .ui-article__content {
    position: relative;
  }
</style>
