<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  import CountdownTimer from '@/components/countdown-timer';

  /**
   * Таймер
   */
  @Component<AppCountdownTimer>({
    components: { CountdownTimer },

    mounted() {
      this.addTimer();
    },
  })
  export default class AppCountdownTimer extends Vue {
    /**
     * Таймеры
     */
    timers: Record<string, any>[] = [];

    /**
     * Добавляет таймер
     */
    addTimer(): void {
      this.timers.push({ uid: this.$utils.nanoid() });
    }

    /**
     * Удаляет таймер
     *
     * @param  uid Идентификатор удаляемого таймера
     */
    removeTimer(uid: string): void {
      this.timers = this.timers.filter((item) => item.uid !== uid);
    }
  }
</script>

<template>
  <v-app
    :id="`app-countdown-timer-${$utils.nanoid()}`"
    class="app-countdown-timer"
  >
    <header class="app-countdown-timer__header">
      <span class="app-countdown-timer__header-heading">
        Динамические таймеры
      </span>
      <span class="app-countdown-timer__header-sub">
        Изолированное, реактивное приложение, встроенное в статику
      </span>
    </header>

    <div class="app-countdown-timer__timers-wrap">
      <transition-group
        name="app-countdown-timer__transition-"
        class="app-countdown-timer__timers"
        tag="section"
      >
        <countdown-timer
          v-for="timer in timers"
          :key="timer.uid"
          @remove="removeTimer(timer.uid)"
        ></countdown-timer>
      </transition-group>
    </div>

    <nav class="app-countdown-timer__nav">
      <button
        type="button"
        class="app-countdown-timer__add-timer"
        @click="addTimer"
      >
        + Добавить таймер
      </button>
    </nav>
  </v-app>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/index.scss';

  .app-countdown-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 8px dashed var(--amber);
    background-color: var(--gray--200);
    background-image: linear-gradient(45deg, var(--gray--200), var(--gray--50));
    border-radius: 4px;
    box-shadow: var(--box-shadow--active);
  }

  .app-countdown-timer__header {
    display: grid;
    margin-bottom: 2rem;
    gap: 1rem;
    text-align: center;
  }

  .app-countdown-timer__header-heading {
    font-size: 1.5rem;
  }

  .app-countdown-timer__header-sub {
    color: var(--gray);
    font-size: 1rem;
  }

  .app-countdown-timer__timers-wrap {
    display: flex;
    justify-content: center;
  }

  .app-countdown-timer__timers {
    display: grid;
    width: 344px;
    margin-bottom: 40px;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    transition-duration: 0.3s;
  }

  .app-countdown-timer__nav {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .app-countdown-timer__add-timer {
    padding: 10px 20px;
    border: none;
    background-color: var(--green);
    border-radius: 4px;
    color: var(--white);
  }

  .app-countdown-timer__add-timer:hover {
    border-color: var(--green--500);
  }

  .app-countdown-timer__transition--enter {
    z-index: 0;
    opacity: 0;
    transform: translateY(4px);
  }

  .app-countdown-timer__transition--enter-active {
    transition-duration: 0.16s;
  }

  .app-countdown-timer__transition--enter-to {
    opacity: 1;
  }

  .app-countdown-timer__transition--leave {
    position: absolute;
    opacity: 1;
  }

  .app-countdown-timer__transition--leave-active {
    position: absolute;
    z-index: 0;
    transform: translateY(-4px);
    transition-duration: 0.16s;
  }

  .app-countdown-timer__transition--leave-to {
    position: absolute;
    opacity: 0;
  }
</style>
