<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Элемент списка данных
   */
  @Component
  export default class UiDataListItem extends Vue {
    /**
     * Иконка слева
     */
    @Prop({ type: String })
    readonly prefixIcon!: string;
  }
</script>

<template>
  <li class="ui-data-list-item" v-on="$listeners">
    <div v-if="prefixIcon" class="ui-data-list-item__prefix">
      <ui-icon
        size="var(--icon-size)"
        color="secondary"
        :name="prefixIcon"
      ></ui-icon>
    </div>
    <div class="ui-data-list-item__title">
      <!-- slot:title -->
      <slot name="title"></slot>
      <!-- /slot:title -->
    </div>
    <div class="ui-data-list-item__text">
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </div>
  </li>
</template>

<style lang="scss" scoped>
  .ui-data-list-item {
    --icon-size: 1rem;
    position: relative;
    display: flex;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fbfbfb;

    &:nth-child(even) {
      background-color: white;
    }
  }

  .ui-data-list-item__prefix {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .ui-data-list-item__title {
    margin-right: 1rem;
  }
  .ui-data-list-item__text {
    margin-left: auto;
  }
</style>
