<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Форма заказа
   */
  @Component
  export default class AppCheckout extends Vue {}
</script>

<template>
  <v-app :id="`app-checkout-${$utils.nanoid()}`" class="app-checkout">
    app-checkout (boilerplate)
  </v-app>
</template>

<style lang="scss" scoped>
  .app-checkout {
    background-color: red !important;
  }
</style>
