<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Правило валидации
   */
  @Component<UiRulesListItem>({})
  export default class UiRulesListItem extends Vue {
    /**
     * Цвет
     */
    @Prop({ type: String })
    color!: string;
  }
</script>

<template>
  <li
    class="ui-rules-list-item"
    :style="{
      '--color': `var(--color-${color})`,
    }"
    v-on="$listeners"
  >
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </li>
</template>

<style lang="scss" scoped>
  .ui-rules-list-item {
    color: var(--color, currentColor);
    transition-duration: 0.3s;
  }
</style>
