<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Контейнер ограниченной ширины
   */
  @Component
  export default class UiContainer extends Vue {}
</script>

<template>
  <div class="ui-container" v-on="$listeners">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </div>
</template>

<style lang="scss" scoped>
  .ui-container {
    position: relative;
    width: MIN(calc(100% - 2rem), 1216px);
    margin: 0 auto;
  }
</style>
