<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  import { UiIconNames } from './ui-icon.types';

  /**
   * Иконка
   */
  @Component<UiA>({})
  export default class UiA extends Vue {
    /**
     * Цвет
     */
    @Prop({ type: String })
    color!: string;

    /**
     * Имя иконки
     */
    @Prop({ type: String, required: true })
    name!: UiIconNames;

    /**
     * Размер иконки
     */
    @Prop({ type: String, default: '1em' })
    size!: string;
  }
</script>

<template>
  <svg
    class="ui-icon"
    :style="{
      '--size': size,
      '--color': `var(--color-${color}, ${color})`,
    }"
  >
    <use :xlink:href="`${require('./ui-icon.icons.svg')}#${name}`" />
  </svg>
</template>

<style lang="scss" scoped>
  .ui-icon {
    width: var(--size);
    height: var(--size);
    color: var(--color, currentColor);
    fill: currentColor;
    transition-duration: 0.3s;
  }
</style>
