<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  import { Color } from '@/types';

  import { UiATag } from './ui-a.types';

  /**
   * Ссылка
   */
  @Component<UiA>({})
  export default class UiA extends Vue {
    /**
     * Цвет
     */
    @Prop({ type: String, default: 'link' })
    color!: Color;

    /**
     * Тэг
     */
    @Prop({ type: String, default: 'a' })
    tag!: UiATag;
  }
</script>

<template>
  <component
    :is="tag"
    v-bind="$attrs"
    :class="{
      'ui-a': true,
    }"
    :style="{
      '--color': `var(--color-${color})`,
      '--color--h': `var(--color-${color}--h)`,
      '--color--p': `var(--color-${color}--p)`,
    }"
    v-on="$listeners"
  >
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </component>
</template>

<style lang="scss" scoped>
  .ui-a {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--color);
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
    transition-duration: 0.3s;

    & ::v-deep .ui-icon {
      margin-right: 8px;
    }

    &:hover {
      color: var(--color--h);
    }

    &:active {
      color: var(--color--p);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
</style>
