<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  import { UiIconNames } from '../ui-icon';

  /**
   * Плашка с предупреждением
   */
  @Component<UiAlert>({})
  export default class UiAlert extends Vue {
    /**
     * Цвет
     */
    @Prop({ type: String, default: 'danger' })
    color!: string;

    /**
     * Иконка
     */
    @Prop({ type: String })
    icon!: UiIconNames;

    /**
     * Размер
     */
    @Prop({ type: String, default: 'standart' })
    size!: 'small' | 'standart';
  }
</script>

<template>
  <div
    :class="{
      'ui-alert': true,
      [`ui-alert--color--${color}`]: true,
      [`ui-alert--size--${size}`]: true,
    }"
    :style="{
      '--background-color': `var(--color-${color})`,
    }"
    role="alert"
  >
    <div v-if="icon" class="ui-alert__icon-wrap">
      <ui-icon
        :name="icon"
        :size="size === 'small' ? '24px' : '1rem'"
      ></ui-icon>
    </div>
    <article class="ui-alert__content">
      <header v-if="$slots['title']" class="ui-alert__title">
        <!-- slot:title -->
        <slot name="title"></slot>
        <!-- /slot:title -->
      </header>
      <div v-if="$slots['default']" class="ui-alert__text">
        <!-- slot:default -->
        <slot></slot>
        <!-- /slot:default -->
      </div>
    </article>
  </div>
</template>

<style lang="scss" scoped>
  .ui-alert {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    background-color: var(--background-color);
    border-radius: 4px;
    color: white;

    &--color {
    }

    &--size {
      &--small {
        --label-size: 40px;
      }
      &--standart {
        --label-size: 48px;
      }
    }

    & + .ui-alert {
      margin-top: 8px;
    }
  }

  .ui-alert__icon-wrap {
    display: flex;
    width: var(--label-size);
    height: var(--label-size);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    & + .ui-alert__content {
      padding-left: 0 !important;
    }
  }

  .ui-alert__content {
    padding: 8px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;

    .ui-alert--size--small & {
      padding: 8px;
    }

    .ui-alert--size--standart & {
      padding: 1rem;
    }
  }

  .ui-alert__title {
    font-size: 1rem;
    font-weight: 600;

    .ui-alert--size--small & {
      font-size: 14px;
      line-height: 24px;
    }

    .ui-alert--size--standart & {
      line-height: 1;
    }
  }

  .ui-alert__text {
    font-size: 14px;

    .ui-alert--size--small & {
      line-height: 24px;
    }

    .ui-alert--size--standart & {
      line-height: 1rem;
    }

    .ui-alert__title & {
      margin-top: 8px;
    }
  }
</style>
