<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Контейнер для компонентов логина/регистации
   */
  @Component<UiLoginContainer>({})
  export default class UiLoginContainer extends Vue {}
</script>

<template>
  <article class="ui-login-container" v-on="$listeners">
    <header v-if="$slots['header']" class="ui-login-container__header">
      <!-- slot:header -->
      <slot name="header"></slot>
      <!-- /slot:header -->
    </header>
    <article v-if="$slots['default']" class="ui-login-container__body">
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </article>
    <footer v-if="$slots['footer']" class="ui-login-container__footer">
      <!-- slot:footer -->
      <slot name="footer"></slot>
      <!-- /slot:footer -->
    </footer>
  </article>
</template>

<style lang="scss" scoped>
  .ui-login-container {
    width: 100%;
    max-width: 448px;
    padding: 2rem 2.5rem;
    border: solid 1px #f1f1f1;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 22px 20px 0 rgba(0, 0, 0, 0.21);

    @media ($mobile-l) {
      padding: 1rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .ui-login-container__header {
    &:not(:empty) {
      margin-bottom: 2rem;
    }

    & * {
      max-width: 100%;
    }

    & img {
      display: block;
    }

    @media ($mobile-l) {
      display: none;
    }
  }

  .ui-login-container__body {
    &:not(:empty) {
      margin-bottom: 1rem;
    }

    &:last-child {
      margin: 0;
    }
  }

  .ui-login-container__footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & > :only-child {
      margin: auto;
    }

    & ::v-deep .ui-a {
      line-height: 2;
    }
  }
</style>
