<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Сообщение после выполненного действия, например об успешной отправке формы
   */
  @Component
  export default class UiActionMessage extends Vue {
    /**
     * Адрес изображения
     */
    @Prop({ type: String })
    image!: string;
  }
</script>

<template>
  <article class="ui-action-message" v-on="$listeners">
    <img v-if="image" :src="image" alt="" class="ui-action-message__image" />
    <p v-if="$slots['title']" class="ui-action-message__title">
      <!-- slot:title -->
      <slot name="title"></slot>
      <!-- /slot:title -->
    </p>
    <p v-if="$slots['subtitle']" class="ui-action-message__subtitle">
      <!-- slot:subtitle -->
      <slot name="subtitle"></slot>
      <!-- /slot:subtitle -->
    </p>
    <p v-if="$slots['subtitle-text']" class="ui-action-message__subtitle-text">
      <!-- slot:subtitle-text -->
      <slot name="subtitle-text"></slot>
      <!-- /slot:subtitle-text -->
    </p>
    <time v-if="$slots['time']" class="ui-action-message__time">
      <!-- slot:time -->
      <slot name="time"></slot>
      <!-- /slot:time -->
    </time>
    <footer v-if="$slots['footer']" class="ui-action-message__footer">
      <!-- slot:footer -->
      <slot name="footer"></slot>
      <!-- /slot:footer -->
    </footer>
  </article>
</template>

<style lang="scss" scoped>
  .ui-action-message {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & :last-child {
      margin-bottom: 0;
    }
  }

  .ui-action-message__image {
    display: block;
    margin-bottom: 31px;
  }

  .ui-action-message__title {
    margin-bottom: 1rem;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.33;
    text-align: center;
  }

  .ui-action-message__subtitle {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: center;
  }

  .ui-action-message__subtitle-text {
    margin-bottom: 1rem;
    color: #717171;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.71;
    text-align: center;

    & + .ui-action-message__footer {
      margin-top: 1rem;
    }
  }

  .ui-action-message__time {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.71;
    text-align: center;

    & + .ui-action-message__footer {
      margin-top: 1rem;
    }
  }

  .ui-action-message__footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    & > :only-child {
      margin: auto;
    }
  }
</style>
