<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Обертка для типографики
   */
  @Component
  export default class UiTypography extends Vue {}
</script>

<template>
  <div class="ui-typography" v-on="$listeners">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </div>
</template>

<style lang="scss" scoped>
  @import './ui-typography.style.scss';

  .ui-typography {
    color: #4a4a4a;
    font-size: initial;

    & h1 {
      font-size: 40px;
      font-weight: 700;
    }

    & h2 {
      font-size: 20px;
      font-weight: 700;
    }

    & h3 {
      font-size: 1rem;
      font-weight: 700;
    }

    & h4 {
      font-size: 14px;
      font-weight: 700;
    }

    & h5 {
      font-size: 12px;
      font-weight: 700;
    }

    & a {
      color: var(--color-link);
    }
  }
</style>
