<script lang="ts">
  import { nanoid } from 'nanoid';
  import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

  type UiCHeckboxSize = 'small' | 'standart' | 'large';

  /**
   * Чекбокс
   */
  @Component<UiInput>({
    inheritAttrs: false,
  })
  export default class UiInput extends Vue {
    /**
     * Значение
     */
    @Prop({ type: Boolean, default: false })
    value!: boolean;

    /**
     * Размер
     */
    @Prop({ type: String, default: 'standart' })
    size!: UiCHeckboxSize;

    /**
     * Цвет
     */
    @Prop({ type: String, default: 'dark' })
    color!: string;

    uid = nanoid();

    /**
     * Синхронизирует сво-во 'checked' с состоянием
     *
     * @param value
     */
    updateCheckedState(value) {
      (this.$el as HTMLElement).querySelector('input').checked = Boolean(value);
    }

    mounted() {
      this.updateCheckedState(this.value);
    }

    @Watch('value')
    onValueChanged() {
      this.updateCheckedState(this.value);
    }
  }
</script>

<template>
  <div
    :class="{
      'ui-checkbox': true,
      [`ui-checkbox--size--${size}`]: true,
    }"
    :style="{
      '--color': `var(--color-${color})`,
    }"
  >
    <input
      :id="$attrs.id || uid"
      :value="value"
      class="ui-checkbox__field"
      type="checkbox"
      v-bind="$attrs"
      @input="$emit('input', $event.target.checked)"
      @keyup.enter="$emit('input', !$event.target.checked)"
    />
    <label
      v-if="$slots['default']"
      class="ui-checkbox__label"
      :for="$attrs.id || uid"
    >
      <!-- slot:default -->
      <slot></slot>
      <!-- /slot:default -->
    </label>
  </div>
</template>

<style lang="scss" scoped>
  .ui-checkbox {
    display: flex;
    align-items: center;

    &--size {
      &--small {
        --size: 1rem;
      }
      &--standart {
        --size: 20px;
      }
      &--large {
        --size: 24px;
      }
    }
  }

  .ui-checkbox__field {
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    border: 1px solid #e5eced;
    appearance: none;
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:checked {
      border-color: var(--color);
      background-color: var(--color);
      background-image: url('./assets/images/check.svg');
    }
  }

  .ui-checkbox__label {
    margin-left: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
    user-select: none;
  }
</style>
