<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Сайдбар-меню
   */
  @Component<UiSidebarMenu>({})
  export default class UiSidebarMenu extends Vue {}
</script>

<template>
  <ui-card no-padding class="ui-sidebar-menu">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </ui-card>
</template>

<style lang="scss" scoped>
  .ui-sidebar-menu {
    position: relative;
  }
</style>
