<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  import { Color } from '@/types';

  import { UiButtonSize, UiButtonTag } from './ui-button.types';

  /**
   * Кнопка
   */
  @Component<UiInput>({})
  export default class UiInput extends Vue {
    /**
     * Иконка слева
     */
    @Prop({ type: String })
    readonly prefixIcon!: string;

    /**
     * Цвет иконки слева
     */
    @Prop({ type: String })
    readonly prefixIconColor!: string;

    /**
     * Иконка справа
     */
    @Prop({ type: String })
    readonly suffixIcon!: string;

    /**
     * Цвет иконки справа
     */
    @Prop({ type: String })
    readonly suffixIconColor!: string;

    /**
     * Цвет
     */
    @Prop({ type: String, default: 'primary' })
    readonly color!: Color;

    /**
     * Размер
     */
    @Prop({ type: String, default: 'standart' })
    readonly size!: UiButtonSize;

    /**
     * Тэг
     */
    @Prop({ type: String, default: 'button' })
    readonly tag!: UiButtonTag;
  }
</script>

<template>
  <component
    :is="tag"
    v-bind="$attrs"
    :class="{
      'ui-button': true,
      [`ui-button--size--${size}`]: true,
      [`ui-button--color--${color}`]: true,
    }"
    :style="{
      '--background-color': `var(--color-${color})`,
      '--background-color--h': `var(--color-${color}--h)`,
      '--background-color--p': `var(--color-${color}--p)`,
    }"
    v-on="$listeners"
  >
    <div class="ui-button__text-wrap">
      <!-- prefix -->
      <div v-if="prefixIcon" class="ui-button__prefix">
        <ui-icon
          size="var(--icon-size)"
          :name="prefixIcon"
          :color="prefixIconColor"
        ></ui-icon>
      </div>
      <!-- /prefix -->

      <span v-if="$slots['default']" class="ui-button__text">
        <!-- slot:default -->
        <slot></slot>
        <!-- s/lot:default -->
      </span>
    </div>

    <!-- suffix -->
    <div v-if="suffixIcon" class="ui-button__suffix">
      <ui-icon
        size="var(--icon-size)"
        :name="suffixIcon"
        :color="suffixIconColor"
      ></ui-icon>
    </div>
    <!-- /suffix -->
  </component>
</template>

<style lang="scss" scoped>
  .ui-button {
    --icon-size: calc(var(--font-size) * var(--line-height));
    --default-background-color: var(--background-color, var(--color-primary));
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: var(--height);
    flex-grow: 0;
    flex-shrink: 0;
    border: none;
    appearance: none;
    background-color: var(--background-color, var(--default-background-color));
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    user-select: none;

    &:hover {
      background-color: var(
        --background-color--h,
        var(--default-background-color)
      );
      text-decoration: none;
    }

    &:active,
    &:focus {
      background-color: var(
        --background-color--p,
        var(--default-background-color)
      );
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover,
      &:active {
        background-color: var(--background-color);
      }
    }

    &--size {
      &--small {
        --padding: 8px;
        --font-size: 14px;
        --line-height: 1.14;
      }

      &--standart {
        --padding: 8px;
        --font-size: 1rem;
        --line-height: 1.5;
      }

      &--large {
        --padding: 1rem;
        --font-size: 20px;
        --line-height: 1.2;
      }
    }

    &--color {
      &--light {
        border: solid 1px #d8d8d8;
        color: var(--color-secondary);
      }

      &--link {
        border: solid 1px #d8d8d8;
        background-color: transparent !important;
        color: var(--background-color);
        &:hover {
          color: var(--background-color--h, var(--default-background-color));
        }

        &:active {
          color: var(--background-color--p, var(--default-background-color));
        }

        .ui-button__suffix {
          background-color: transparent !important;
        }
      }
    }

    + .ui-button {
      margin-left: var(--padding);
    }
  }

  .ui-button__text-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

  .ui-button__text {
    position: relative;
  }

  .ui-button__prefix {
    display: flex;
    align-items: center;
    margin-right: 8px;

    &:only-child {
      margin-right: 0;
    }
  }

  .ui-button__suffix {
    --suffix-size: calc(calc(var(--padding) * 2) + var(--icon-size));
    display: flex;
    width: var(--suffix-size);
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    background-color: var(--background-color--h, transparent);
  }
</style>
