<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Сообщение об ошибке
   */
  @Component
  export default class UiError extends Vue {
    /**
     * Код ошибки
     */
    @Prop({ type: Number, required: true })
    code!: 401 | 403 | 404 | 419 | 429 | 500 | 503;
  }
</script>

<template>
  <article class="ui-error" v-on="$listeners">
    <img
      class="ui-error__image"
      alt=""
      :src="require(`./assets/images/${code}.svg`)"
    />
    <ui-container class="ui-error__container">
      <header class="ui-error__code">
        {{ code }}
      </header>
      <h1 v-if="$slots['title']" class="ui-error__title">
        <!-- slot:title -->
        <slot name="title"> </slot>
        <!-- /slot:title -->
      </h1>
      <div v-if="$slots['text']" class="ui-error__text">
        <!-- slot:text -->
        <slot name="text"> </slot>
        <!-- /slot:text -->
      </div>
      <nav v-if="$slots['nav']" class="ui-error__nav">
        <!-- slot:nav -->
        <slot name="nav"> </slot>
        <!-- /slot:nav -->
      </nav>
    </ui-container>
  </article>
</template>

<style lang="scss" scoped>
  .ui-error {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
    padding: 60px 1rem 80px;
    background-color: #261956;
  }

  .ui-error__image {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    pointer-events: none;
    transform: translateY(-50%);

    @media ($mobile-l) {
      display: none;
    }
  }

  .ui-error__container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  .ui-error__code {
    color: #261956;
    font-size: clamp(100px, 20vw, 208px);
    font-weight: 700;
    line-height: 1;
    opacity: 0.5;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px,
      rgb(255, 255, 255) 1.75517px 0.958851px 0px,
      rgb(255, 255, 255) 1.0806px 1.68294px 0px,
      rgb(255, 255, 255) 0.141474px 1.99499px 0px,
      rgb(255, 255, 255) -0.832294px 1.81859px 0px,
      rgb(255, 255, 255) -1.60229px 1.19694px 0px,
      rgb(255, 255, 255) -1.97998px 0.28224px 0px,
      rgb(255, 255, 255) -1.87291px -0.701566px 0px,
      rgb(255, 255, 255) -1.30729px -1.5136px 0px,
      rgb(255, 255, 255) -0.421592px -1.95506px 0px,
      rgb(255, 255, 255) 0.567324px -1.91785px 0px,
      rgb(255, 255, 255) 1.41734px -1.41108px 0px,
      rgb(255, 255, 255) 1.92034px -0.558831px 0px;

    &:not(:last-child) {
      margin-bottom: 80px;

      @media ($mobile-l) {
        margin-bottom: 2rem;
      }
    }
  }

  .ui-error__title {
    max-width: 500px;
    color: #ffffff;
    font-size: clamp(20px, 2.5vw, 2rem);
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media ($mobile-l) {
        margin-bottom: 8px;
      }
    }
  }

  .ui-error__text {
    color: #ffffff;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 2;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .ui-error__nav {
    position: relative;
  }
</style>
