<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Элемент сайдбар-меню
   */
  @Component<UiSidebarMenuItem>({})
  export default class UiSidebarMenuItem extends Vue {
    /**
     * Активное состояние
     */
    @Prop({ type: Boolean, default: false })
    active!: boolean;

    /**
     * Иконка слева
     */
    @Prop({ type: String })
    readonly prefixIcon!: string;
  }
</script>

<template>
  <button
    :class="{
      'ui-sidebar-menu-item': true,
      'ui-sidebar-menu-item--active': active,
    }"
    type="button"
    role="button"
    v-on="$listeners"
  >
    <!-- prefix -->
    <div v-if="prefixIcon" class="ui-sidebar-menu-item__prefix">
      <ui-icon size="var(--icon-size)" :name="prefixIcon"></ui-icon>
    </div>
    <!-- /prefix -->

    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </button>
</template>

<style lang="scss" scoped>
  .ui-sidebar-menu-item {
    --left-botder-width: 24px;
    --icon-size: 24px;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 88px;
    align-items: center;
    border-left: var(--left-botder-width) solid transparent;
    color: var(--color-secondary);
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4;
    text-align: left;
    user-select: none;

    &:hover,
    &:focus {
      color: var(--color-text);
      font-weight: 600;
      outline: none;

      & .ui-sidebar-menu-item__prefix {
        color: var(--color-primary);
      }

      &::before {
        opacity: 1;
        transform: translateY(-50%) scale(1);
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: calc(-1 * var(--left-botder-width));
      width: 2px;
      height: 48px;
      background-color: var(--color-primary);
      content: '';
      opacity: 0;
      transform: translateY(-50%) scale(0);
      transition-duration: 0.3s;
    }

    &--active {
      color: var(--color-text);
      font-weight: 600;
      pointer-events: none;

      & .ui-sidebar-menu-item__prefix {
        color: var(--color-primary);
      }

      &::before {
        opacity: 1;
        transform: translateY(-50%) scale(1);
      }
    }
  }

  .ui-sidebar-menu-item__prefix {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
</style>
