<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Цитата
   */
  @Component<UiBlockquote>({})
  export default class UiBlockquote extends Vue {
    /**
     * Цвет
     */
    @Prop({ type: String, default: 'success' })
    color!: string;

    /**
     * Применяет цвет к тексту
     */
    @Prop({ type: Boolean, default: false })
    colored!: boolean;
  }
</script>

<template>
  <blockquote
    class="ui-blockquote"
    :style="{
      '--color': colored ? `var(--color-${color})` : 'var(--color-text)',
      '--background-color': `var(--color-${color})`,
    }"
  >
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </blockquote>
</template>

<style lang="scss" scoped>
  .ui-blockquote {
    padding-left: 12px;
    border-left: 4px solid var(--background-color);
    margin: 0;
    color: var(--color);
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
</style>
