<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Список правил валидации
   */
  @Component<UiRulesList>({})
  export default class UiRulesList extends Vue {}
</script>

<template>
  <ul class="ui-rules-list" v-on="$listeners">
    <!-- slot:default -->
    <slot></slot>
    <!-- /slot:default -->
  </ul>
</template>

<style lang="scss" scoped>
  .ui-rules-list {
    padding-left: 1rem;
    color: var(--color-placeholder);
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 2;
  }
</style>
