<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  /**
   * Заголовок аккордеон-панели
   */
  @Component<UiExpansionPanelHeader>({})
  export default class UiExpansionPanelHeader extends Vue {
    /**
     * Состояние панели открыта/закрыта
     */
    @Prop({ type: Boolean, default: false })
    isOpen!: boolean;

    /**
     * Скрытые иконки справа
     */
    @Prop({ type: Boolean, default: false })
    hideSuffixIcon!: boolean;

    /**
     * Имя иконки
     */
    @Prop({ type: String, default: 'pointer-right' })
    icon!: string;
  }
</script>

<template>
  <header class="ui-expansion-panel-header">
    <div class="ui-expansion-panel-header__heading">
      <p class="ui-expansion-panel-header__title">
        <!-- slot:default -->
        <slot></slot>
        <!-- /slot:default -->
      </p>
      <p class="ui-expansion-panel-header__subtitle">
        <!-- slot:subtitle -->
        <slot name="subtitle"></slot>
        <!-- /slot:subtitle -->
      </p>
    </div>
    <ui-icon
      v-if="!hideSuffixIcon"
      :class="{
        'ui-expansion-panel-header__icon': true,
        'ui-expansion-panel-header__icon--active': isOpen,
      }"
      :size="$mq.includes('mobile') ? '1rem' : '1.5rem'"
      :name="icon"
      :color="isOpen ? 'primary' : 'secondary'"
    ></ui-icon>
  </header>
</template>

<style lang="scss" scoped>
  .ui-expansion-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    font-size: initial;
    gap: 1rem;

    @media ($mobile-l) {
      align-items: flex-start;
    }
  }

  .ui-expansion-panel-header__heading {
    position: relative;
  }

  .ui-expansion-panel-header__title {
    margin: 0;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.6;

    @media ($mobile-l) {
      color: var(--color-primary);
      font-size: 16px;
    }
  }

  .ui-expansion-panel-header__subtitle {
    margin: 0;
    color: #989eb7;
    color: var(--color-secondary);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 2.29;

    @media ($mobile-l) {
      font-size: 12px;
      line-height: 1.33;
    }
  }

  .ui-expansion-panel-header__icon {
    flex-shrink: 0;
    color: var(--color-secondary);

    &--active {
      transform: rotateZ(-90deg);
    }

    @media ($mobile-l) {
      margin-top: calc((25px - 1rem) / 2);
    }
  }
</style>
