:root {
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-display: swap;
  font-family: var(--font-family);
}

/**
 * selection
 */
::selection {
  background-color: var(--color-primary);
  color: white;
}
