/**
 * Colors 
 */
:root {
  /* primary */
  --color-primary: #072caf;
  --color-primary--h: #0937dd;
  --color-primary--p: #051f7b;
  /* secondary */
  --color-secondary: #989eb7;
  --color-secondary--h: #b4b8cb;
  --color-secondary--p: #5e6687;
  /* success */
  --color-success: #75c663;
  --color-success--h: #8bcf7c;
  --color-success--p: #51a83d;
  /* danger */
  --color-danger: #ff6f79;
  --color-danger--h: #ff8a91;
  --color-danger--p: #ff4955;
  /* warning */
  --color-warning: #ffc672;
  --color-warning--h: #ffd493;
  --color-warning--p: #ffbb55;
  /* info */
  --color-info: #37c5d3;
  --color-info--h: #3edae9;
  --color-info--p: #31b6c3;
  /* light */
  --color-light: #fafafa;
  --color-light--h: white;
  --color-light--p: #f8f8f8;
  /* dark */
  --color-dark: #081b5f;
  --color-dark--h: #0b2274;
  --color-dark--p: #051346;
  /* link */
  --color-link: #072caf;
  --color-link--h: #0937dd;
  --color-link--p: #072caf;
  /* outline */
  --color-outline: #c1ccf5;
  /* text */
  --color-text: #383838;
  --color-placeholder: #a3a3a3;
}

/**
 * Fonts 
 */
:root {
  --font-family-monospace: monospace;
  --font-family: sans-serif;
}
