<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  /**
   * Таймер обратного отсчета
   */
  @Component<CountdownTimer>({})
  export default class CountdownTimer extends Vue {
    value = null;
    label = '';
    status = 'notInit';

    /**
     * Возвращает текущее время
     *
     * @example getCurrentTime() => '14:19:43
     *
     * @returns
     */
    getCurrentTime(): string {
      const date = new Date();

      return date.toLocaleTimeString();
    }

    /**
     * Генерирует лейбл таймера
     *
     * @example getLabel(1234) => '01:234'
     *
     * @param ms Оставшееся время, мс
     */
    getLabel(ms: number): string {
      const seconds = String(Math.floor(ms / 1000)).padStart(2, '0');
      const milliseconds = String(ms % 1000).padStart(3, '0');

      return `${seconds}:${milliseconds}`;
    }

    /**
     * Устанавтивает таймер
     *
     * @param seconds Время, на которое ставится таймер, сек
     * @param callback Функция, вызываемая после окончания таймера
     */
    setTimer(seconds: number, callback: (time: string) => any) {
      this.status = 'pending';

      const startTime = Date.now();
      const endTime = startTime + seconds * 1000;

      const interval = setInterval(() => {
        const cirrentTime = Date.now();
        const millisecondsLeft = endTime - cirrentTime;

        this.label = this.getLabel(millisecondsLeft);

        if (millisecondsLeft <= 0) {
          clearInterval(interval);
          this.status = 'end';
          if (typeof callback === 'function') callback(this.getCurrentTime());
        }
      }, 16);
    }

    /**
     * Заменяет лейбл после окончания работы таймера
     *
     * @param {string} time Время завершения таймера
     */
    finishHandler(time) {
      this.label = `Таймер завершен в ${time}`;
    }
  }
</script>

<template>
  <article class="countdown-timer [ elevation-4 ]">
    <input
      v-if="status === 'notInit'"
      v-model="value"
      type="number"
      min="0"
      class="countdown-timer__input"
      placeholder="Время, сек."
      @keyup.enter="() => (value ? setTimer(value, finishHandler) : void 0)"
    />
    <span v-else class="countdown-timer__label">{{ label }}</span>
    <button
      v-if="status === 'notInit'"
      type="button"
      class="countdown-timer__action countdown-timer__action--run"
      :disabled="!value"
      @click="setTimer(value, finishHandler)"
    >
      >
    </button>
    <button
      type="button"
      class="countdown-timer__action countdown-timer__action--remove"
      @click="$emit('remove')"
    >
      x
    </button>
  </article>
</template>

<style lang="scss" scoped>
  .countdown-timer {
    --timer-line: 32px;

    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition-duration: 0.3s;
  }

  .countdown-timer:hover {
    box-shadow: var(--box-shadow--active);
  }

  .countdown-timer > :not(:last-child) {
    margin-right: 10px;
  }

  .countdown-timer__input {
    width: 240px;
    height: var(--timer-line);
    flex-grow: 1;
    padding: 0 10px;
    border: 1px solid var(--gray--300);
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: none;
    color: var(---gray);
    font-size: 16px;
  }

  .countdown-timer__label {
    width: 240px;
    flex-grow: 1;
    font-weight: 300;
  }

  .countdown-timer__action {
    display: flex;
    width: var(--timer-line);
    height: var(--timer-line);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: var(--white);
  }

  .countdown-timer__action--run {
    background-color: var(--green);
  }

  .countdown-timer__action--remove {
    background-color: var(--red);
  }
</style>
